<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="px-4 py-5 mb-5 text-center bg-dark">
        <h1 class="display-5 fw-bold text-white">{{ title }}</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{  path('index') }}">Lista miast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('city_with_zipcode') }}">Lista kodów pocztowych z miastem</a>
            </li>
        </ul>
    </div>

    <div class="container alerts">
        {% for type,messages in app.session.flashBag.all %}
            {% for msg in messages %}
                <div class="alert alert-{{ type }}">{{ msg }}</div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block pageContainer %}{% endblock %}

    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
</body>
</html>
