{% extends 'base.html.twig' %}
{% block pageContainer %}


    <div class="container">

        <div class="text-end">
            <a href="{{  path('city_new') }}"><button class="btn btn-info">Dodaj miasto</button></a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Miasto</th>
                        <th>Opcje</th>
                    </tr>
                </thead>

                <tbody>
                    {% for city in pagination %}
                        <tr>
                            <td>{{ city.name }}</td>
                            <td>
                                <a href="{{  path('city_delete',{ 'id' : city.id }) }}"><button class="btn btn-danger">Usuń</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="col-md-6 text-end">
                Strona {{ pagination.currentPageNumber }} z {{ pagination.pageCount }}
            </div>
        </div>
    </div>

{% endblock %}